# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Data files
*.csv

# Virtual env
venv/
.venv/
Scripts/
Lib/
Include/
pyvenv.cfg

# Environment variables
.env

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db